[tool.poetry]
name = "transformers-js-py"
version = "0.14.0"
description = ""
authors = ["Yuichiro Tachibana (Tsuchiya) <t.yic.yt@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    {include = "transformers_js_py"},
    {include = "transformers_js"},
]
repository = "https://github.com/whitphx/transformers.js.py"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
mypy = "^1.10.0"
types-pillow = "^10.2.0.20240423"
numpy = "^1.26.4"
ruff = "^0.4.2"

[tool.ruff.lint]
extend-select = ["I"]

[tool.mypy]
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    "js",
    "pyodide.*",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
